@import url("./base.css");

#app {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-weight: normal;
	background-color: #f9f9fa;
}

.modal-overlay {
	position: fixed;
	z-index: 99999;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 60%);
	backdrop-filter: blur(1px);
}
.modal-article {
	background: #fff;
	border-radius: 20px;
	box-shadow: 8px 8px 20px 0 rgb(0 0 0 / 20%);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.confirmModal .modal-article {
	max-width: 500px;
	width: 100%;
}

.alertModal .modal-article {
	max-width: 400px;
}

.alertModal .modal-article .modal-content {
	padding: 0 30px;
	display: flex;
	gap: 0;
}

.tableModal .modal-article {
	max-width: 500px;
	width: 100%;
}

.modal-header {
	width: 100%;
	display: flex;
	padding: 20px 30px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.modal-header h3 {
	width: 100%;
	font-size: 20px;
	letter-spacing: -0.75px;
	font-weight: 800;
}
.modal-header .close-btn {
	font-size: 24px;
	box-shadow: none;
	color: #353535;
	transition: all 0.3s;
}

.modal-header .close-btn:hover {
	color: #003c7a;
}
.modal-content {
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-size: 15px;
	color: #222;
	white-space: pre-line;
	padding: 30px;
}
.tableModal .modal-content {
	padding: 0 30px;
	max-height: 370px;
	overflow: auto;
}
.modal-content .modal-message {
	font-size: 16px;
	letter-spacing: -0.75px;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;
}

.modal-content .message {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.modal-content .message .text {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-content .message .text p {
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: -0.75px;
	color: #717171;
}
.modal-content .message .box {
	background-color: #f9f9fa;
	border-radius: 8px;
	padding: 25px 30px;
	display: flex;
}
.modal-content .message .box.space {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.modal-content .message .box p {
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: #003c7a;
}
.modal-content .text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.modal-content .text .txt {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}
.modal-content .text .txt b {
	font-weight: 600;
	color: #555555;
	font-size: 16px;
	min-width: 50px;
}
.modal-content .text .txt p {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.75px;
	color: #717171;
	word-break: break-word;
}

.modal-table {
	display: table-column-group;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #ffffff;
	table-layout: fixed;
	max-height: 600px;
	overflow-y: auto;
	padding-right: 5px;
}
.modal-table thead {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.modal-table thead tr {
	height: 50px;
	background: #f8f8f8;
	border-top: 1px solid #88888860;
	border-bottom: 1px solid #88888860;
}
.modal-table thead tr th {
	font-size: 13px;
	font-weight: 800;
	color: #200224;
	letter-spacing: -0.75px;
	text-align: center;
}
.modal-table tbody {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.modal-table tbody tr {
	height: 40px;
	border-bottom: 1px solid #88888860;
}
.modal-table tbody tr td {
	padding: 10px;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: -0.75px;
	color: #202224;
}

.modal-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 30px;
	gap: 10px;
}

.modal-button {
	word-break: keep-all;
	display: inline-block;
	padding: 0 50px;
	height: 45px;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	transition: all 0.2s;
	width: 100%;
	background-color: #003c7a;
	color: #fff;
	border-radius: 8px;
}
.modal-button.cancel {
	background-color: #ffffff;
	color: #000;
	border: 1px solid #d9d9d9;
}
.modal-buttons .button-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}
.modal-buttons .button-wrap .button {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.modal-buttons .button-wrap .confirm-btn {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	color: #2c2c2c;
}
.modal-buttons .button-wrap .login-btn,
.modal-buttons .button-wrap .retry-btn {
	background-color: #003c7a;
	color: #fff;
	border-radius: 8px;
}
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.signModal .modal-header {
	display: none;
}
.editModal .modal-header {
	display: none;
}

.informModal .modal-article {
	width: 400px;
}
.informModal .modal-header {
	padding: 20px 30px 0;
}
.informModal .modal-content {
	padding: 0 30px;
}
.informModal .modal-buttons {
	padding: 0 30px 30px;
}

.deviceModal .modal-article {
	width: 800px;
	height: 840px;
	justify-content: space-between;
}
.deviceModal .modal-article .modal-content {
	padding-top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.deviceModal .modal-article .modal-content .modal-table-container,
.tableModal .modal-article .modal-content .modal-table-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}
.deviceModal .modal-article .modal-content .modal-table-container .modal-table {
	height: 100%;
}
.deviceModal .modal-article .modal-table-container .PagingView {
	padding: 0;
	margin: 0 auto;
	justify-content: center;
	padding-top: 20px;
}
.deviceModal .modal-article .modal-table-container .choice-btn {
	background-color: transparent;
	margin: 0 auto;
	height: auto;
	padding: 10px;
	color: #222222;
	font-size: 14px;
	font-weight: 600;
	box-shadow: none;
	transition: all 0.3s;
}
.deviceModal .modal-article .modal-table-container .choice-btn:hover {
	color: #007bff;
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-style: dotted;
}
.verifyPasswordModal > .modal-article,
.passwordResetModal > .modal-article {
	max-width: 500px;
	width: 100%;
}
.verifyPasswordModal > .modal-article .modal-header,
.passwordResetModal > .modal-article .modal-header {
	display: flex;
}
.verifyPasswordModal > .modal-article .modal-header h3,
.passwordResetModal > .modal-article .modal-header h3 {
	width: 100%;
	font-size: 20px;
	letter-spacing: -0.75px;
	font-weight: 800;
}
.verifyPasswordModal > .modal-article .modal-content,
.passwordResetModal > .modal-article .modal-content {
	padding: 20px 30px;
}

.verifyPasswordModal > .modal-article .modal-content .modal-body,
.passwordResetModal > .modal-article .modal-content .modal-body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.verifyPasswordModal > .modal-article .modal-content .modal-body p {
	font-size: 16px;
	letter-spacing: -0.75px;
	color: #717171;
}
.verifyPasswordModal > .modal-article .modal-buttons,
.passwordResetModal > .modal-article .modal-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.verifyPasswordModal > .modal-article .modal-buttons button,
.passwordResetModal > .modal-article .modal-buttons button {
	flex: 1;
}
.modal-buttons .cancel-btn {
	border-radius: 8px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}
.modal-buttons .cancel-btn span {
	color: #222222;
}
.modal-buttons .save-btn {
	border-radius: 8px;
	background-color: #003c7a;
	border: 1px solid #003c7a;
}
.modal-buttons .save-btn span {
	color: #ffffff;
}
.checkModal > .modal-article {
	max-width: 400px;
	width: 100%;
}
.modal-table-container .SearchBar {
	height: 40px;
}
.modal-table-container .SearchBar .input {
	border: none;
}
.modal-table-container .SearchBar .SearchFilter .Search .input-box .input {
	border: none;
}
.modal-table-container .SearchBar .SearchFilter .Search .input-box .input input {
	width: 100%;
	height: 40px;
	border: 1px solid #d9d9d9;
	transition: all 0.3s;
}
.modal-table-container .SearchBar .SearchFilter input {
	width: 100%;
	height: 40px;
	border: 1px solid #d9d9d9;
	transition: all 0.3s;
}
.modal-table-container .SearchBar input:focus {
	border-color: #2c2c2c;
}
.modal-table-container .SearchBar .SearchFilter .search-button {
	height: 40px;
	width: 70px;
	background-color: #003c7a;
	color: #ffffff;
	transition: all 0.3s;
}
.modal-table-container .SearchBar .SearchFilter .search-button:hover {
	background-color: #00305f;
}
