main {
	padding-top: 80px;
}
.contain {
	padding: 30px 30px 0 300px;

	.contents-wrap {
		display: flex;
		flex-direction: column;
		gap: 30px;

		.card-content {
			.content {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;

				p {
					font-size: 16px;
					letter-spacing: -0.75px;
					color: #555;
					font-weight: 500;
				}
				.input-box {
					max-width: 500px;
					width: 100%;

					.input {
						width: 100%;

						input {
							width: 100%;
							font-weight: 600;
							color: #5a5a5a;
						}
					}
				}
			}
			.content + .content {
				padding-top: 20px;
			}
			.add-form,
			.edit-form {
				margin: 30px 0;
				border-top: 1px solid #d9d9d9;
				border-bottom: 1px solid #d9d9d9;

				.form-container {
					gap: 0;

					.form-content {
						padding: 30px 0;

						.input-wrap {
							gap: 15px;

							.input-item {
								.tit {
									font-size: 16px;
									letter-spacing: -0.75px;
									color: #555;
								}
								.input-box {
									max-width: 500px;
								}
							}
							.ipt-error {
								bottom: -18px;
							}
							.dropdown-container {
								max-width: 500px;
							}
							.check-btn {
								width: 130px;
								border-radius: 4px;
								background-color: #edf3fa;
								color: #003c7a;
								font-size: 14px;
								font-weight: 600;
								position: absolute;
								right: 3px;
								box-shadow: none;
								transition: all 0.3s;
							}
							.check-btn:hover {
								background-color: #dae6f7;
							}
							.check-btn:disabled {
								background-color: #d9d9d9;
								color: #ffffff;
							}
							.widthCheck .input input {
								padding-right: 140px;
							}
						}
					}
				}
			}
			.button-group {
				max-width: 610px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				.buttons {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
				}
				.right-buttons {
					justify-content: flex-end;
				}
				.left-buttons {
					display: flex;
					flex-direction: row;
					gap: 10px;
					align-items: center;

					.custom-button {
						font-size: 14px;
						font-weight: 600;
						letter-spacing: -0.5px;
						color: #888888;
						background-color: #ffffff;
						border: 1px solid #d9d9d9;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						gap: 8px;
						transition: all 0.3s;
					}
					.custom-button:hover {
						border: 1px solid #2c2c2c;
						color: #2c2c2c;
					}
				}
				.right-buttons {
					.cancel-btn {
						width: 150px;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						font-size: 16px;
						height: 45px;
						border: 1px solid #dddddd;
						background-color: #fff;
						color: #2c2c2c;
					}
					.add-btn,
					.update-btn {
						width: 150px;
						background-color: #003c7a;
					}
					.add-btn:disabled,
					.update-btn:disabled {
						background-color: #d9d9d9;
						cursor: inherit;
						box-shadow: none;
					}
				}
			}
			.dropdown-container {
				width: 100%;
				border-radius: 6px;

				.dropdown-input {
					.arrow {
						width: 42px;
						height: 42px;
					}
				}
				.dropdown-menu {
					border: 1px solid #5a5a5a;
					margin-top: 3px;
					overflow: hidden;
					box-shadow: 4px 4px 20px 0 #0000000d;

					.menu-list {
						.list {
							.item {
								color: #5a5a5a;
							}
						}
					}
				}
			}
		}
		.card {
			padding: 30px !important;
			box-shadow: 6px 6px 30px 0px #0000000a;
			background-color: #ffffff;
			border-radius: 14px;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: center;
			gap: 15px;
			border: none;
			margin-bottom: 30px;

			.card-content {
				padding: 0;
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			.add-form,
			.edit-form {
				border: none;
				width: 510px;
				margin: 0;

				.form-container {
					.form-content {
						padding: 0;
					}
				}
			}
			.add-item {
				padding-top: 30px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 15px;
				border-top: 1px solid #d9d9d9;

				.tit {
					min-width: 100px;
					font-size: 16px;
					font-weight: 500;
					letter-spacing: -0.75px;
					color: #555;
				}
				.flex-right {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;

					.buttons {
						width: auto;
						gap: 10px;

						button {
							width: 85px;
							height: 40px;
							border-radius: 6px;
							background-color: #fff;
							border: 1px solid #d9d9d9;
							font-size: 14px;
							letter-spacing: -0.5px;
							font-weight: 500;
						}
						.btn-success {
							color: #5a5a5a;
						}
						.btn-delete {
							color: #fc5555;
						}
					}
				}
			}
			.fix-table {
				margin-bottom: 0;

				.table-body {
					min-height: 250px;
					max-height: 250px;
				}
			}
			.PagingView .view .dropdown-container {
				width: 90px;
			}
			.button-group {
				max-width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
		.noneBorder {
			padding: 30px !important;
			background-color: #ffffff;
			box-shadow: 6px 6px 30px 0px #0000000a;
			border-radius: 14px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 15px;
			border: none;

			.card-content {
				padding: 0;
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			.add-form,
			.edit-form {
				border: none;
				margin: 0;

				.form-container {
					.form-content {
						padding: 0;
					}
				}
			}
			.card-content .button-group.right {
				justify-content: flex-end;

				.right-buttons {
					max-width: 500px;

					.cancel-btn,
					.add-btn {
						width: 100%;
					}
				}
			}
		}
		.search-bar-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: 10px;

			.buttons {
				width: auto;
				gap: 10px;

				button {
					width: 85px;
					height: 40px;
					border-radius: 6px;
					background-color: #fff;
					border: 1px solid #d9d9d9;
					font-size: 14px;
					letter-spacing: -0.5px;
					font-weight: 500;
				}
				.btn-success {
					color: #5a5a5a;
				}
				.btn-danger {
					color: #fc5555;
				}
			}
			.dropdown-container {
				width: 116px;
				border-radius: 6px;

				.dropdown-input {
					.arrow {
						width: 42px;
						height: 42px;
					}
				}
				.dropdown-menu {
					border: 1px solid #5a5a5a;
					margin-top: 3px;
					overflow: hidden;
					box-shadow: 4px 4px 20px 0 #0000000d;

					.menu-list {
						.list {
							.item {
								color: #5a5a5a;
							}
						}
					}
				}
			}
			.search-input .input {
				background-color: #ffffff;
				border-radius: 6px;
				border: 1px solid #d9d9d9;

				input {
					border: none;
					width: calc(100% - 40px);
					box-shadow: none;
				}
				.search-input .input:focus {
					border-color: #6c89c080;
					box-shadow: 0 4px 8px 0 #6c89c026;
				}
			}
			.search-wrap .search-btn {
				background-color: transparent;
				color: #5a5a5a;
				font-size: 16px;
				position: absolute;
				right: 0;
				box-shadow: none;
			}
		}
		.top-wrap {
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.tab-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;

				.tabs {
					width: auto;
					height: 40px;
					display: flex;
					flex-direction: row;
					align-items: center;
					border-radius: 6px;
					overflow: hidden;

					.tab {
						width: 200px;
						height: 100%;
						font-size: 14px;
						font-weight: 500;
						letter-spacing: -0.5px;
						border-radius: 0;
						background-color: #e8e8e8;
						color: #5a5a5a;
						box-shadow: none;
						transition: none;
					}
					.tab + .tab {
						border-left: 1px solid #cccccc;
					}
					.tab.active {
						background-color: #ffffff;
						border: 2px solid #005cba;
						border-radius: 0;
						font-weight: 700;
						color: #005cba;
					}
					.tab.rounded-left {
						border-radius: 8px 0 0 8px;
					}
					.tab.rounded-right {
						border-radius: 0 8px 8px 0;
					}
				}
				.dropdown-container {
					width: 120px;

					.dropdown-menu {
						border: 1px solid #5a5a5a;
						margin-top: 3px;
						overflow: hidden;
						box-shadow: 4px 4px 20px 0 #0000000d;

						.menu-list .list .item {
							color: #5a5a5a;
						}
					}
				}
			}
			.right-wrap {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;

				button {
					width: 130px;
					height: 40px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					padding: 5px;
					gap: 10px;
					font-size: 14px;
					letter-spacing: -0.75px;
					font-weight: 500;
					background-color: #ffffff;
					border: 1px solid #d9d9d9;
					border-radius: 6px;

					img {
						width: 18px;
						height: 18px;
						object-fit: contain;
					}
				}
				.btn-delete {
					color: #fc5555;
				}
			}
			.SearchBar {
				width: 100%;
				display: flex;
				flex-direction: row;
				gap: 10px;

				.buttons {
					width: auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;

					button {
						width: 85px;
						height: 40px;
						border-radius: 6px;
						background-color: #ffffff;
						border: 1px solid #d9d9d9;
						color: #5a5a5a;
						font-size: 14px;
						font-weight: 500;
					}
					.btn-delete {
						color: #fc5555;
					}
				}
				.SearchFilter {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;

					.dropdown-container {
						width: 116px;

						.dropdown-menu {
							border: 1px solid #5a5a5a;
							margin-top: 5px;

							.menu-list {
								.list {
									.item {
										color: #5a5a5a;
									}
								}
							}
						}
					}
					.Search {
						display: flex;
						flex-direction: row;
						align-items: center;
						position: relative;

						.input-box .input {
							background-color: #ffffff;
							border-radius: 6px;
							border: 1px solid #d9d9d9;

							input {
								border: none;
								width: calc(100% - 40px);
								box-shadow: none;
							}
							.input-box .input:focus {
								border-color: #6c89c080;
								box-shadow: 0 4px 8px 0 #6c89c026;
							}
						}
						.search-btn {
							background-color: transparent;
							color: #5a5a5a;
							font-size: 16px;
							position: absolute;
							right: 0;
							box-shadow: none;
						}
					}
				}
			}
		}
		.add-table-form {
			border-radius: 14px;
			border: 1px solid #d9d9d9;
			background-color: #ffffff;
			.tab-content {
				padding-top: 0;
			}
			.add-table {
				.non-content + .table-body {
					min-height: 0;
				}
				.table-body {
					min-height: 430px;
				}
				.table-header {
					border-radius: 14px 14px 0 0;
					overflow: hidden;

					thead tr {
						height: 55px;
					}
				}
				tbody {
					tr {
						height: 70px;
						border-bottom: 1px solid #dddddd80;
						td {
							.input {
								input {
									border: none;
									box-shadow: none;
									transition: all 0.3s;
									text-align: center;
									border: 1px solid #efefef;
									padding: 8px;
								}
								input:focus {
									border: 1px solid #d9d9d9;
								}
							}
						}
					}
				}
				.dropdown-container.select.w110 {
					width: 110px;
					margin: 0 auto;

					.dropdown-input {
						input {
							padding: 6px 10px;
						}
						.arrow {
							width: 30px;
							height: 30px;
						}
					}
					.dropdown-menu {
						border: 1px solid #5a5a5a;
						margin-top: 3px;
						overflow: hidden;
						box-shadow: 4px 4px 20px 0 #0000000d;

						.menu-list .list .item {
							color: #5a5a5a;
						}
					}
				}
				border-bottom: 1px solid #d9d9d9;
			}
			.button-wrap {
				padding: 16px 30px;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;

				.btn-save {
					width: 200px;
					height: 45px;
					border-radius: 6px;
					background-color: #003c7a;
					font-size: 14px;
					font-weight: 500;
					letter-spacing: -0.75px;
					color: #ffffff;
				}
				.cancel-btn {
					border-radius: 6px;
				}
				.buttons {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
				}
				.right-buttons {
					justify-content: flex-end;

					.cancel-btn {
						width: 200px;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						font-size: 14px;
						height: 45px;
						font-weight: 500;
						border: 1px solid #dddddd;
						background-color: #fff;
						color: #2c2c2c;
					}
				}
			}
		}
		.useList.fix {
			height: 530px;
			background-color: #fff;

			.table-body {
				max-height: 480px;
			}
		}
		.Search + .search-button,
		.date + .search-button {
			width: 70px;
			height: 40px;
			font-size: 14px;
			color: #ffffff;
			letter-spacing: -0.75px;
			background-color: #003c7a;
			transition: all 0.3s;
		}
		.Search + .search-button:hover,
		.date + .search-button:hover {
			background-color: #002649;
		}

		.title-wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;
			.breadcrumb {
				display: flex;
				flex-direction: row;
				gap: 10px;
				align-items: center;
				justify-content: flex-start;
				.breadcrumb-item {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					gap: 10px;
					a {
						font-size: 18px;
						letter-spacing: -0.75px;
						color: #757575;
						font-weight: 500;
					}
				}
				.breadcrumb-item + .breadcrumb-item::before {
					content: "\f105";
					font-family: "Font Awesome 6 Free";
					font-weight: 900;
					color: #757575;
				}
				.dropdown-container {
					width: 116px;
					border-radius: 6px;

					.dropdown-input {
						.arrow {
							width: 42px;
							height: 42px;
						}
					}
					.dropdown-menu {
						border: 1px solid #5a5a5a;
						margin-top: 3px;
						overflow: hidden;
						box-shadow: 4px 4px 20px 0 #0000000d;

						.menu-list {
							.list {
								.item {
									color: #5a5a5a;
								}
							}
						}
					}
				}
			}
		}
	}
	.dropdown-input input:focus {
		border: 1px solid #5a5a5a;
	}
	.button-list .action-button {
		background-color: transparent;
	}
	.button-list .action-button:hover {
		background-color: transparent;
	}
}
.fix-table {
	border-radius: 14px;
	border: 1px solid #d9d9d9;
	height: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}
.fix-table .table-body {
	min-height: 385px;
	background-color: #ffffff;
}
.SearchBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

	.buttons {
		width: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;

		.custom-button {
			width: 85px;
			height: 40px;
			border-radius: 6px;
			background-color: #ffffff;
			border: 1px solid #d9d9d9;
			color: #5a5a5a;
			font-size: 14px;
			font-weight: 500;
		}
		.btn-delete {
			color: #fc5555;
		}
	}
	.SearchFilter {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;

		.dropdown-container {
			width: 116px;

			.dropdown-menu {
				border: 1px solid #5a5a5a;
				margin-top: 5px;

				.menu-list {
					.list {
						.item {
							color: #5a5a5a;
						}
					}
				}
			}
		}
		.Search {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;

			.input-box .input {
				background-color: #ffffff;
				border-radius: 6px;
				border: 1px solid #d9d9d9;

				input {
					border: none;
					width: calc(100% - 40px);
					box-shadow: none;
				}
				.input-box .input:focus {
					border-color: #6c89c080;
					box-shadow: 0 4px 8px 0 #6c89c026;
				}
			}
			.search-btn {
				background-color: transparent;
				color: #5a5a5a;
				font-size: 16px;
				position: absolute;
				right: 0;
				box-shadow: none;
			}
		}
	}
	.custom-button {
		width: 85px;
		height: 40px;
		border-radius: 6px;
		background-color: #ffffff;
		border: 1px solid #d9d9d9;
		color: #5a5a5a;
		font-size: 14px;
		font-weight: 500;
	}
	.btn-delete {
		color: #fc5555;
		background-color: #ffffff;
		margin: 0;
	}
	.download-btn {
		border: 1px solid #005cba;
		background-color: #ffffff;
		color: #005cba;
		transition: all 0.3s;
		span {
			font-size: 13px;
			letter-spacing: -0.75px;
			font-weight: 600;
		}
	}
	.download-btn:disabled {
		border: 1px solid #d9d9d9;
		span {
			color: #d9d9d9;
		}
	}
}
.SearchBar.right {
	justify-content: flex-end;
}
.tab-content {
	width: 100%;
	padding-top: 30px;

	.fix-table {
		.useList {
			.table-body {
				min-height: 480px;
				max-height: 480px;
			}
		}
	}
}

.date-range {
	.date-range-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
		background-color: #ffffff;
		border-radius: 8px;
		border: 1px solid #d9d9d9;
	}
	.input-wrapper {
		.date-input {
			padding-right: 10px;
			border: none;
			box-shadow: none;
		}
		.calendarIcon {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	.dp__menu {
		border-radius: 12px;
		border: 1px solid #e5e7eb;
		box-shadow: 4px 4px 30px #00000005;
	}
	.dp--menu-wrapper {
		.dp__arrow_top {
			display: none;
		}
		.dp__menu_inner {
			padding: 20px;
			.dp__btn {
				padding: 0;
				border: none;
			}
			.dp__month_year_wrap {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 10px;
				height: 24px;
				.dp--arrow-btn-nav {
					width: 100%;
					.dp__inner_nav {
						box-shadow: none;
					}
					.dp__inner_nav:hover {
						background-color: transparent;
						box-shadow: none;
						color: #005cba;
					}
				}
				.dp__btn {
					width: auto;
					box-shadow: none;
				}
				.dp__month_year_select {
					font-size: 16px;
					font-weight: 600;
					letter-spacing: -0.5px;
					color: #1f2937;
				}
			}
			.dp__calendar {
				.dp__calendar_header {
					padding: 16px 0 10px;
				}
				.dp__calendar_header_separator {
					display: none;
				}
				.dp__calendar_header_item {
					padding: 0;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					letter-spacing: -0.75px;
					color: #6b7280;
					font-weight: 600;
				}
				.dp__calendar {
					.dp__calendar_row {
						.dp__cell_inner {
							font-size: 14px;
							font-family: PretendardGOV, sans-serif;
							font-weight: 500;
							color: #1f2937;
							padding: 0;
							border-radius: 50%;
							transition: all 0.3s;
						}
						.dp__cell_inner:hover {
							background-color: #e9f4ff;
							color: #005cba;
						}
						.dp__calendar_item {
							flex-grow: inherit;
							.dp__today {
								color: #005cba;
								border-radius: 50%;
							}
							.dp__cell_offset {
								color: #d1d5db;
							}
							.dp__active_date {
								background-color: #2563eb;
								color: #ffffff;
							}
							.dp__cell.custom-start,
							.dp__cell.custom-end {
								background-color: #2563eb;
								color: #ffffff;
							}
						}
						.dp__range_start,
						.dp__range_end {
							background-color: #2563eb;
							color: #ffffff;
						}
						.custom-highlight-start {
							background-color: #2563eb;
							color: #ffffff;
						}
						.dp__cell_highlight {
							background-color: #e9f4ff;
							border-radius: 0;
							color: #1f2937;
						}
						.dp__calendar_item:nth-child(1) {
							.dp__cell_highlight {
								border-radius: 50% 0 0 50%;
							}
						}
						.dp__calendar_item:nth-child(7) {
							.dp__cell_highlight {
								border-radius: 0 50% 50% 0;
							}
						}
					}
				}
			}
		}
		.dp__action_row {
			display: flex;
			width: 100%;
			box-sizing: border-box;
			flex-flow: row nowrap;
			justify-content: space-between;
			gap: 10px;
			align-items: center;
			padding: 20px;
			border-top: 1px solid #ddd;
			.dp__selection_preview {
				white-space: pre-line !important;
				text-align: left;
			}
			.dp__action_buttons {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
				margin: 0;
				.dp__action_button {
					width: 75px;
					display: flex;
					align-items: center;
					padding: 0;
					line-height: 1;
					margin-inline-start: 0;
					height: 38px;
					cursor: pointer;
					border-radius: 8px;
					font-size: 14px;
					letter-spacing: -0.75px;
					margin: 0;
					font-family: PretendardGOV, sans-serif;
					flex-direction: row;
					justify-content: center;
				}
				.dp__action_select {
					background-color: #2563eb;
				}
				.dp__action_cancel:hover {
					border-color: #d9d9d9;
				}
			}
		}
		.custom-time-picker {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0 0 10px 0;
			gap: 10px;
			.time-select {
				width: 60px;
				padding: 6px 12px;
				border: 1px solid #d9d9d9;
				border-radius: 8px;
				font-size: 14px;
				appearance: none; /* 화살표 제거 */
				-webkit-appearance: none;
				-moz-appearance: none;
				background: url("@/assets/image/icon/chevron-down.svg") no-repeat right 0.5rem center;
				cursor: pointer;
				transition: all 0.3s;
			}
			.time-select:focus {
				border-color: #2c2c2c;
			}
		}
	}
}

.usage-wrap {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 14px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;

	.row {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 30px;

		.usage {
			width: 100%;
			height: 360px;
			padding: 30px;
			background-color: #ffffff;
			border-radius: 20px;
			box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 8%);

			.chart-title {
				display: flex;
				flex-direction: row;
				gap: 10px;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 10px;

				span {
					font-size: 24px;
					letter-spacing: -0.75px;
					font-weight: 700;
					color: #2c2c2c;
				}
			}
		}
	}
}

.data-table {
	.table-container {
		.table-body {
			max-height: 490px;
			min-height: 490px;
		}
	}
}

// edit
.edit {
	.sign-form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 40px;
		.form-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			.form-buttons {
				padding-top: 20px;
				width: 565px;
			}
		}
		.form-title {
			width: 100%;
			font-size: 20px;
			font-weight: 600;
			color: #353535;
			padding-bottom: 10px;
			border-bottom: 1px solid #d9d9d9;
		}
		.form-content {
			width: 565px;
			.input-wrap {
				gap: 20px;
				.input-item {
					.title {
						width: 110px;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						small {
							font-size: 12px;
							letter-spacing: -0.75px;
							color: #757575;
						}
					}
					.tit {
						color: #555;
						display: flex;
					}
					.tit::before {
						content: "*";
						color: #fc5555;
					}
					.input {
						.check-btn {
							width: 110px !important;
							height: 45px;
							border-radius: 8px;
							background-color: #edf3fa;
							line-height: 1;
							font-size: 14px;
							font-weight: 500;
							color: #003c7a;
						}
						.check-btn:disabled {
							background-color: #bdbdbd;
							color: #ffffff;
						}
					}
					.reset-btn {
						background-color: #edf3fa;
						color: #003c7a;
						font-size: 14px;
						letter-spacing: -0.75px;
						font-weight: 500;
					}
				}
			}
		}
		.buttons {
			flex-direction: row;
			justify-content: center;
			gap: 10px;
			.custom-button {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				height: 45px;
			}
		}
		.cancel-btn {
			border: 1px solid #dddddd;
			background-color: #fff;
			color: #2c2c2c;
		}
		.sign-btn {
			background-color: #003c7a;
			color: #fff;
			transition: all 0.3s;
		}
		.sign-btn:disabled {
			background-color: #d9d9d9;
			color: #ffffff;
			box-shadow: none;
		}
		.save-btn {
			transition: all 0.3s;
			width: 140px;
			background-color: #003c7a;
			color: #fff;
			transition: all 0.3;
		}
		.save-btn:hover {
			background-color: #012e5a;
		}
		.save-btn:disabled {
			background-color: #d9d9d9;
			color: #ffffff;
			box-shadow: none;
		}
	}
}
