main {
	padding-top: 80px;
}
.contain {
	padding: 30px 30px 0 300px;
	.contents-wrap {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.card-content {
			.content {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				p {
					font-size: 16px;
					letter-spacing: -0.75px;
					color: #555;
					font-weight: 500;
				}
				.input-box {
					max-width: 500px;
					width: 100%;
					.input {
						width: 100%;
						input {
							width: 100%;
							font-weight: 600;
							color: #5a5a5a;
						}
					}
				}
			}
			.content + .content {
				padding-top: 20px;
			}
			.add-form,
			.edit-form {
				margin: 30px 0;
				border-top: 1px solid #d9d9d9;
				border-bottom: 1px solid #d9d9d9;
				.form-container {
					gap: 0;
					.form-content {
						padding: 30px 0;
						.input-wrap {
							gap: 15px;
							.input-item {
								.tit {
									font-size: 16px;
									letter-spacing: -0.75px;
									color: #555;
								}
								.input-box {
									max-width: 500px;
								}
							}
							.ipt-error {
								bottom: -18px;
							}
							.dropdown-container {
								max-width: 500px;
							}
							.check-btn {
								width: 130px;
								border-radius: 4px;
								background-color: #edf3fa;
								color: #003c7a;
								font-size: 14px;
								font-weight: 600;
								position: absolute;
								right: 3px;
								box-shadow: none;
								transition: all 0.3s;
							}
							.check-btn:hover {
								background-color: #dae6f7;
							}
							.check-btn:disabled {
								background-color: #d9d9d9;
								color: #ffffff;
							}
							.widthCheck .input input {
								padding-right: 140px;
							}
						}
					}
				}
			}
			.button-group {
				max-width: 610px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				.buttons {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
				}
				.right-buttons {
					justify-content: flex-end;
				}
				.left-buttons {
					display: flex;
					flex-direction: row;
					gap: 10px;
					align-items: center;
					.custom-button {
						font-size: 14px;
						font-weight: 600;
						letter-spacing: -0.5px;
						color: #888888;
						background-color: #ffffff;
						border: 1px solid #d9d9d9;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						gap: 8px;
						transition: all 0.3s;
					}
					.custom-button:hover {
						border: 1px solid #2c2c2c;
						color: #2c2c2c;
					}
				}
				.right-buttons {
					.cancel-btn {
						width: 150px;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						font-size: 16px;
						height: 45px;
						border: 1px solid #dddddd;
						background-color: #fff;
						color: #2c2c2c;
					}
					.add-btn,
					.update-btn {
						width: 150px;
						background-color: #003c7a;
					}
					.add-btn:disabled,
					.update-btn:disabled {
						background-color: #d9d9d9;
						cursor: inherit;
						box-shadow: none;
					}
				}
			}
			.dropdown-container {
				width: 100%;
				border-radius: 6px;
				.dropdown-input {
					.arrow {
						width: 42px;
						height: 42px;
					}
				}
				.dropdown-menu {
					border: 1px solid #5a5a5a;
					margin-top: 3px;
					overflow: hidden;
					box-shadow: 4px 4px 20px 0 #0000000d;
					.menu-list {
						.list {
							.item {
								color: #5a5a5a;
							}
						}
					}
				}
			}
		}
		.card {
			padding: 30px !important;
			background-color: #ffffff;
			border-radius: 14px;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: center;
			gap: 15px;
			border: none;
			margin-bottom: 30px;
			.card-content {
				padding: 0;
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			.add-form,
			.edit-form {
				border: none;
				width: 510px;
				margin: 0;
				.form-container {
					.form-content {
						padding: 0;
					}
				}
			}
			.add-item {
				padding-top: 30px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 15px;
				border-top: 1px solid #d9d9d9;
				.tit {
					min-width: 100px;
					font-size: 16px;
					font-weight: 500;
					letter-spacing: -0.75px;
					color: #555;
				}
				.flex-right {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					.buttons {
						width: auto;
						gap: 10px;
						button {
							width: 85px;
							height: 40px;
							border-radius: 6px;
							background-color: #fff;
							border: 1px solid #d9d9d9;
							font-size: 14px;
							letter-spacing: -0.5px;
							font-weight: 500;
						}
						.btn-success {
							color: #5a5a5a;
						}
						.btn-delete {
							color: #fc5555;
						}
					}
				}
			}
			.fix-table {
				margin-bottom: 0;
				.table-body {
					min-height: 250px;
					max-height: 250px;
				}
			}
			.PagingView .view .dropdown-container {
				width: 90px;
			}
			.button-group {
				max-width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
		.search-bar-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: 10px;
			.buttons {
				width: auto;
				gap: 10px;
				button {
					width: 85px;
					height: 40px;
					border-radius: 6px;
					background-color: #fff;
					border: 1px solid #d9d9d9;
					font-size: 14px;
					letter-spacing: -0.5px;
					font-weight: 500;
				}
				.btn-success {
					color: #5a5a5a;
				}
				.btn-danger {
					color: #fc5555;
				}
			}
			.dropdown-container {
				width: 116px;
				border-radius: 6px;
				.dropdown-input {
					.arrow {
						width: 42px;
						height: 42px;
					}
				}
				.dropdown-menu {
					border: 1px solid #5a5a5a;
					margin-top: 3px;
					overflow: hidden;
					box-shadow: 4px 4px 20px 0 #0000000d;
					.menu-list {
						.list {
							.item {
								color: #5a5a5a;
							}
						}
					}
				}
			}

			.search-input .input {
				background-color: #ffffff;
				border-radius: 6px;
				border: 1px solid #d9d9d9;
				input {
					border: none;
					width: calc(100% - 40px);
					box-shadow: none;
				}
				.search-input .input:focus {
					border-color: #6c89c080;
					box-shadow: 0 4px 8px 0 #6c89c026;
				}
			}

			.search-wrap .search-btn {
				background-color: transparent;
				color: #5a5a5a;
				font-size: 16px;
				position: absolute;
				right: 0;
				box-shadow: none;
			}
		}

		.top-wrap {
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.tab-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				.tabs {
					width: auto;
					height: 40px;
					display: flex;
					flex-direction: row;
					align-items: center;
					border-radius: 6px;
					overflow: hidden;
					.tab {
						width: 200px;
						height: 100%;
						font-size: 14px;
						font-weight: 500;
						letter-spacing: -0.5px;
						border-radius: 0;
						background-color: #e8e8e8;
						color: #5a5a5a;
						box-shadow: none;
						transition: none;
					}
					.tab + .tab {
						border-left: 1px solid #cccccc;
					}
					.tab.active {
						background-color: #ffffff;
						border: 2px solid #005cba;
						border-radius: 0;
						font-weight: 700;
						color: #005cba;
					}
					.tab.rounded-left {
						border-radius: 8px 0 0 8px;
					}

					.tab.rounded-right {
						border-radius: 0 8px 8px 0;
					}
				}
				.dropdown-container {
					width: 120px;
					.dropdown-menu {
						border: 1px solid #5a5a5a;
						margin-top: 3px;
						overflow: hidden;
						box-shadow: 4px 4px 20px 0 #0000000d;
						.menu-list .list .item {
							color: #5a5a5a;
						}
					}
				}
			}
			.right-wrap {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
				button {
					width: 130px;
					height: 40px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					padding: 5px;
					gap: 10px;
					font-size: 14px;
					letter-spacing: -0.75px;
					font-weight: 500;
					background-color: #ffffff;
					border: 1px solid #d9d9d9;
					border-radius: 6px;
					img {
						width: 18px;
						height: 18px;
						object-fit: contain;
					}
				}
				.btn-delete {
					color: #fc5555;
				}
			}
			.SearchBar {
				width: 100%;
				display: flex;
				flex-direction: row;
				gap: 10px;
				.buttons {
					width: auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
					button {
						width: 85px;
						height: 40px;
						border-radius: 6px;
						background-color: #ffffff;
						border: 1px solid #d9d9d9;
						color: #5a5a5a;
						font-size: 14px;
						font-weight: 500;
					}
					.btn-delete {
						color: #fc5555;
					}
				}
				.SearchFilter {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
					.dropdown-container {
						width: 116px;
						.dropdown-menu {
							border: 1px solid #5a5a5a;
							margin-top: 5px;
							.menu-list {
								.list {
									.item {
										color: #5a5a5a;
									}
								}
							}
						}
					}
					.Search {
						display: flex;
						flex-direction: row;
						align-items: center;
						position: relative;
						.input-box .input {
							background-color: #ffffff;
							border-radius: 6px;
							border: 1px solid #d9d9d9;
							input {
								border: none;
								width: calc(100% - 40px);
								box-shadow: none;
							}
							.input-box .input:focus {
								border-color: #6c89c080;
								box-shadow: 0 4px 8px 0 #6c89c026;
							}
						}

						.search-btn {
							background-color: transparent;
							color: #5a5a5a;
							font-size: 16px;
							position: absolute;
							right: 0;
							box-shadow: none;
						}
					}
				}
			}
		}
		.add-table-form {
			border-radius: 14px;
			border: 1px solid #d9d9d9;
			background-color: #ffffff;
			.add-table {
				.table-header {
					border-radius: 14px 14px 0 0;
					overflow: hidden;
					thead tr {
						height: 55px;
					}
				}
				tbody tr {
					height: 70px;
					td {
						.input {
							input {
								border: none;
								box-shadow: none;
								transition: all 0.3s;
								text-align: center;
							}
							input:focus {
								border: 1px solid #d9d9d9;
							}
						}
					}
				}
				.dropdown-container.select.w110 {
					width: 110px;
					margin: 0 auto;
					.dropdown-input {
						input {
							padding: 6px 10px;
						}
						.arrow {
							width: 30px;
							height: 30px;
						}
					}
					.dropdown-menu {
						border: 1px solid #5a5a5a;
						margin-top: 3px;
						overflow: hidden;
						box-shadow: 4px 4px 20px 0 #0000000d;
						.menu-list .list .item {
							color: #5a5a5a;
						}
					}
				}
				border-bottom: 1px solid #d9d9d9;
			}
			.button-wrap {
				padding: 16px 30px;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				.btn-save {
					width: 200px;
					height: 45px;
					border-radius: 6px;
					background-color: #003c7a;
					font-size: 14px;
					font-weight: 500;
					letter-spacing: -0.75px;
					color: #ffffff;
				}
				.cancel-btn {
					border-radius: 6px;
				}
				.buttons {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
				}
				.right-buttons {
					justify-content: flex-end;
					.cancel-btn {
						width: 200px;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						font-size: 14px;
						height: 45px;
						font-weight: 500;
						border: 1px solid #dddddd;
						background-color: #fff;
						color: #2c2c2c;
					}
				}
			}
		}
		.useList.fix {
			height: 530px;
			background-color: #fff;
			.table-body {
				max-height: 480px;
			}
		}
	}

	.dropdown-input input:focus {
		border: 1px solid #5a5a5a;
	}
	.button-list .action-button {
		background-color: transparent;
	}
	.button-list .action-button:hover {
		background-color: transparent;
	}
}
.fix-table {
	border-radius: 14px;
	border: 1px solid #d9d9d9;
	height: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}
.fix-table .table-body {
	min-height: 385px;
	background-color: #ffffff;
}

.SearchBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
	.buttons {
		width: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		button {
			width: 85px;
			height: 40px;
			border-radius: 6px;
			background-color: #ffffff;
			border: 1px solid #d9d9d9;
			color: #5a5a5a;
			font-size: 14px;
			font-weight: 500;
		}
		.btn-delete {
			color: #fc5555;
		}
	}
	.SearchFilter {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		.dropdown-container {
			width: 116px;
			.dropdown-menu {
				border: 1px solid #5a5a5a;
				margin-top: 5px;
				.menu-list {
					.list {
						.item {
							color: #5a5a5a;
						}
					}
				}
			}
		}
		.Search {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			.input-box .input {
				background-color: #ffffff;
				border-radius: 6px;
				border: 1px solid #d9d9d9;
				input {
					border: none;
					width: calc(100% - 40px);
					box-shadow: none;
				}
				.input-box .input:focus {
					border-color: #6c89c080;
					box-shadow: 0 4px 8px 0 #6c89c026;
				}
			}

			.search-btn {
				background-color: transparent;
				color: #5a5a5a;
				font-size: 16px;
				position: absolute;
				right: 0;
				box-shadow: none;
			}
		}
	}
}
.SearchBar.right {
	justify-content: flex-end;
}

.tab-content {
	width: 100%;
	padding-top: 30px;
	.fix-table {
		.useList {
			.table-body {
				min-height: 480px;
				max-height: 480px;
			}
		}
	}
}

.date-range {
	width: 370px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	background-color: #ffffff;
	border-radius: 8px;
	border: 1px solid #d9d9d9;
	transition: all 0.3s;
	.date-picker-wrapper {
		.input-wrapper {
			position: relative;
			.date-input {
				border: none;
				box-shadow: none;
			}
			.calendarIcon {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translate(0, -50%);
				width: 16px;
				height: 16px;
				object-fit: contain;
			}
		}
	}
	&.is-focused {
		border-color: #202020;
	}
}
.search-date {
	position: relative;
	.dp--menu-wrapper {
		top: 47px !important;
		left: 0 !important;
		width: 100%;
		direction: inherit;
		.dp__menu_inner {
			padding: 20px;
		}
		.dp__menu {
			background: #ffffff;
			border-radius: 12px;
			min-width: 100%;
			border: 1px solid #d9d9d9;
			box-sizing: border-box;
			box-shadow: 2px 2px 5px #dddddd;
			font-size: 14px;
			letter-spacing: -0.75px;
		}
		.dp__arrow_top {
			display: none;
		}
		.dp__month_year_wrap {
			display: flex;
			flex-direction: row;
			width: 100%;
			align-items: center;
			justify-content: center;
			.dp__month_year_select {
				width: auto;
				font-size: 18px;
				letter-spacing: -0.75px;
				font-weight: 500;
				color: #1f2937;
			}
			.dp__month_year_select:hover {
				box-shadow: none;
			}
		}
		.dp__btn {
			padding: 10px;
			box-shadow: none;
		}

		.dp__calendar {
			.dp__calendar_header {
				padding-top: 20px;
			}
			.dp__calendar_header_item {
				height: 100%;
				width: 100%;
				box-sizing: border-box;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				letter-spacing: -0.5px;
				font-weight: 500;
				color: #6b7280;
			}
			.dp__calendar_header_separator {
				display: none;
			}
			.dp__calendar_row {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				height: 50px;
				.dp__calendar_item {
					display: flex;
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					color: var(--dp-text-color);
					flex-direction: row;
					align-items: center;
					justify-content: center;
					.dp__cell_inner {
						width: 100%;
						height: 100%;
						border-radius: 50%;
						padding: 0;
						font-size: 14px;
						letter-spacing: -0.5px;
						font-weight: 500;
						color: #1f2937;
					}
					.dp__cell_offset {
						color: #d1d5db;
					}
					.dp__range_end,
					.dp__range_start,
					.dp__active_date {
						background-color: #2563eb;
						color: #ffffff;
					}
					.dp__range_between {
						border: none;
						background-color: #f8fafc;
						border-radius: 0;
					}
				}
				.dp__calendar_item:nth-child(7) {
					.dp__range_between {
						border-radius: 0 50% 50% 0;
					}
				}
				.dp__calendar_item:nth-child(1) {
					.dp__range_between {
						border-radius: 50% 0 0 50%;
					}
				}
			}
		}
		.dp__action_row {
			border-top: 1px solid #d9d9d9;
			width: 100%;
			padding: 20px;
			.dp__action_buttons {
				flex-direction: row;
				gap: 10px;
				.dp__action_button {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					font-size: 15px;
					font-weight: 600;
					letter-spacing: -0.5px;
					width: 75px;
					height: 38px;
					margin: 0;
					font-family: PretendardGOV, sans-serif;
				}
				.dp__action_cancel:hover {
					border-color: #d9d9d9;
				}
			}
		}
	}
}
.date-range + .search-btn {
	width: 70px;
	background-color: #003c7a;
	span {
		font-weight: 500;
	}
}

.usage-wrap {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 14px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;
	.row {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 30px;
		.usage {
			width: 100%;
			height: 360px;
			padding: 30px;
			background-color: #ffffff;
			border-radius: 20px;
			box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 8%);
			.chart-title {
				display: flex;
				flex-direction: row;
				gap: 10px;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 10px;
				span {
					font-size: 24px;
					letter-spacing: -0.75px;
					font-weight: 700;
					color: #2c2c2c;
				}
			}
		}
	}
}
